.bigBox{
	width: 100%;
	height: 2000rpx;
	background-color: #FBFBFB;
}
.workBox{
	position: relative;
	top: 25rpx;
	left:28rpx;
	width: 694rpx;
	height: 200rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	box-shadow:4px 4px 4px 4px rgba(221, 221, 221, 0.1);
	margin-bottom: 20rpx;
}
.workBox image{
	position: absolute;
	top:30rpx;
	left: 40rpx;
	width: 138rpx;
	height: 138rpx;
	border-radius: 15rpx;
}
.workBox text{
	position: absolute;
	top:40rpx;
	left: 220rpx;
	font-size: 32rpx;
	font-weight: bold;
	font-family: '黑体';
    width: 420rpx;
}
.edit {
		position: absolute;
		top: 135rpx;
		right: 36rpx;
		width: 70rpx;
		height: 32rpx;
		border: 3rpx solid #EC808D;
		border-radius: 9rpx;        line-height: 32rpx;
		text-align: center;
}
.edit view{
	font-size: 24rpx;
	color: #EC808D;
	z-index: 1;
}
