/* 字体声明 */
@font-face {
  font-family: 'iconfont';
  
  src: url('../../iconClass/iconfont.eot');
  src: url('../../iconClass/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../../iconClass/iconfont.woff2') format('woff2'),
      url('../../iconClass/iconfont.woff') format('woff'),
      url('../../iconClass/iconfont.ttf') format('truetype'),
      url('../../iconClass/iconfont.svg#iconfont') format('svg');
}


.iconfont {
  position: absolute;
  top: 40px;
  right: 64rpx;
  opacity: 0.4;
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e609";
}

.icon-cai:before {
  content: "\e659";
}