	.row-box{
		width: 90%;
		padding: 10rpx 0;
	}
	.choose-image-box{
		padding-top: 40rpx;
	}
	.addimages-box{
		padding: 40rpx;
	}
	.addimages-item{
		float: left;
		width: 148rpx;
		overflow: hidden;
		margin: 10rpx;
		margin-bottom: 20rpx;
	}
	.addimages-box image{	
		width: 148rpx;
		height: 148rpx;
		border-radius: 10px;
	}
	.addimages-item image{
		width: 148rpx;
		height: 148rpx;
		border-radius: 10px;
	}
	.works-title{
		border-bottom: solid 1px rgba(121, 121, 121, 0.1);
	}
	.works-title input{
		font-size: 14px;
		margin-bottom: 5px;
	}
	.content-item{
		width: 100%;
		line-height: 20px;
		margin-bottom: 5px;
		/* 分离每行元素 */
		overflow: hidden;
	}
	.content-item text{
		float: left;
		font-size: 14px;
		line-height: 20px;
	}
	.content-item .at-text{
		color: #65A6FF;
		font-weight: 700;
	}
	.content-item .chooseAt-box-placehold{
		float: left;
		width: 70%;
		font-size: 13px;
		line-height: 20px;
		color: #646566;
	}
	.works-article textarea{
		width: 100%;
		height: 150rpx;
		font-size: 14px;
	}
	.atPerson-box{
		padding: 15rpx;
		font-size: 14px;
		color: #65A6FF;
	}
	.line{
		width: 100%;
		height: 7px;
		background-color: rgba(242, 242, 242, 0.5);
	}
	.checked-box{
		padding-bottom: 30px;
	}
	.checked-group-title{
		border-bottom: solid 1px rgba(121, 121, 121, 0.1);
		margin-bottom: 10px;
		width: 100%;
		font-size: 16px;
		font-weight: 700;
		font-family: "PingFang SC";
		line-height: 30px;
	}
	.checked-item{
		width: 25%;
		height: 30px;
		float: left;
		padding: 0;
	}
	.checked-item text{
		font-size: 13px;
		color: #101010;
		font-family: "Verdana";
	}
	.checked-item checkbox{
		/* 调整多选框大小 */
		transform: scale(0.6);
	}
	.agree-box{
		font-family: 'PingFang SC';
		font-size: 15px;
		padding: 10px 0;
		font-weight: 700;
	}
	.agree-box text{
		font-family: 'PingFang SC';
		font-size: 15px;
		color: #65A6FF;
		font-weight: 700;
	}
	.agree-box label{
		float: right;
	}
	.agree-box label radio{
		/* 调整单选框大小 */
		transform: scale(0.6);
	}
	.limit-box{
		padding-bottom: 50px;
	}
	.limit-box text{
		display: block;
		font-family: 'PingFang SC';
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
		color: #101010;
	}
	.limit-box .limit-content text{
		width: 100%;
		color: #555555;
		margin-bottom: 5px;
	}
	.limit-box .limit-content .text1{
		font-size: 16px;
	}
	.limit-box .limit-content .text2{
		font-size: 13px;
		font-weight: 400;
	}
	.limit-box switch{
		float: right;
	}
	.limit-content{
		float: left;
	}
	.fixed-bottom-box{
		width: 100%;
		height: 40px;
		position: fixed;
		bottom: 0px;
		background-color: #FFFFFF;
	}
	.bottom-box image{
		width: 40px;
	}
	.bottom-box label{
		float: right;
		font-size: 13px;
		color: #333333;
	}
	.bottom-box radio{
		/* 调整单选框大小 */
		transform: scale(0.6);
	}