ul,li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.back{
	position: absolute;
	top: 40rpx;
	left: 30rpx;
	font-size: 18pt;
	color: #6A6A6A;
}
.backbox{
	position: relative;
	top: 0rpx;
	left: 0rpx;
	width: 100%;
	height: 580rpx;
	background-image: url(../../../static/iconn/back.png);
}
.backBoxButtom{
	position: absolute;
	top: 360rpx;
	left: 0rpx;
	width: 100%;
	height: 250rpx;
	background-color: #FFFFFF;
	border-top-left-radius: 100rpx;
	border-top-right-radius: 100rpx;
}
.backBoxMain{
	position: absolute;
	bottom: 0rpx;
	left: 40rpx;
	width: 670rpx;
	height: 337rpx;
	background-color: #FFFFFF;
	border-radius: 30rpx;
	box-shadow:4px 4px 4px 4px rgba(199, 199, 199, 0.1);
}
.backBoxMain image{
	position: absolute;
	top: -68rpx;
	left:40rpx;
	width: 140rpx;
	height: 140rpx;
	border: 10rpx solid #FFFFFF;
	border-radius: 90rpx;
}
.backBoxUsername{
	position: absolute;
	top: 96rpx;
	left: 66rpx;
	font-size: 26rox;
	font-weight: bold;
	color: #201E1E;
}
.backBoxSign{
	position: absolute;
	top: 153rpx;
	left: 62rpx;
	font-size: 23rpx;
	color: #B1B1B1;
}
.backBoxTable{
	position: absolute;
	top:200rpx;
	left: 62rpx;
	width: 550rpx;
}
.backBoxTable tr td{
	width: 183rpx;
}
.boxTableNum{
	font-size: 36rpx;
	font-weight: bold;
	text-align: center;
}
.boxTableText{
	font-size: 25rpx;
	text-align: center;
	line-height: 45rpx;
	color: #9C9C9C;
}
.backBoxEdit{
	position: absolute;
	top:25rpx;
	right: 25rpx;
	width: 135rpx;
	height: 48rpx;
	border: 3rpx solid #D4D4D4;
	border-radius: 9rpx;
	line-height: 40rpx;
	text-align: center;
}
.backBoxEdit text{
	font-size: 24rpx;
	color: #BBBBBB;
	line-height: 40rpx;
	
}
.backBoxCos{
	position: absolute;
	top:100rpx;
	right: 25rpx;
	width: 85rpx;
	height: 85rpx;
	border: 5rpx solid #FFDDE9;
	border-radius: 58rpx;
	background-color: #FF82AF;
	text-align: center;
}
.backBoxCos text{
	font-size: 8pt;
	color: #FFFFFF;
	line-height: 105rpx;
	padding-left: 0rpx;
}
.naviBox{
	
	margin: 50rpx auto;
	width: 55%;
	/* #ifndef APP-PLUS */
	white-space: nowrap;
	 /*  #endif  */
	
}
.navigateUl{
	width: 30%;
	height: 60rpx;
	/* margin: 50rpx auto; */
	padding-bottom: 20rpx;
	/* #ifndef APP-PLUS */
	white-space: nowrap;
	 /*  #endif  */
}
.navi{
	display: inline-block;
	font-size: 15pt;
	font-weight: bold;
	padding-bottom: 13rpx;
	margin-left: 10rpx;
	margin-right: 10rpx;
	text-align: center;
	border-bottom: 7rpx solid #F2A3C3;
}
.navino{
	display: inline-block;
	/* margin-left: 50rpx; */
	font-size: 12pt;
	width: 100rpx;
	margin-left: 15rpx;
	margin-right: 15rpx;
	text-align: center;
}



.navigateUl ul{
	position: absolute;
	top: 0;
	left: 15%;
	width: 550rpx;
}
.navigateUl ul li {
	margin-left: 50rpx;
	font-size: 12pt;
	width: 90rpx;
	text-align: center;
}
.navigateUl ul li:last-child{
	margin-left: 50rpx;
	font-size: 12pt;
	width: 135rpx;
}
/* .navigateUl li:hover{
	font-size: 15pt;
	font-weight: bold;
	padding-bottom: 13rpx;
	border-bottom: 7rpx solid #F2A3C3;
} */


.dynamicBox{
	margin-top: 10rpx;
}
.dynamicIt{
	width: 100%;
	background-color: #FFFFFF;
	margin: 0rpx auto;
}
.dynamnicHead{
	position: relative;
	top:0;
	left:0;
	width: 100%;
	height: 130rpx;
}
.dynamicAvatar{
	position: absolute;
	top: 25rpx;
	left: 38rpx;
	width: 90rpx;
	height: 90rpx;
	border-radius: 95rpx;
}
.dynamicUserDate{
	position: absolute;
	top:40rpx;
	left:140rpx;
}
.dynamicUsername{
	font-size: 11pt;
	font-weight: bold;
}
.dynamicDate{
	font-size: 22rpx;
	color: #ACACAC;
	line-height: 35rpx;
}
.dynamicMoreIcon{
	position: absolute;
	top: 30rpx;
	right: 50rpx;
}
.dynamicText{
	width: 90%;
	font-size: 11pt;
	padding-left: 46rpx;
}
.dynamicImage{
	/* width: 670rpx; */
	width: 100%;
	height: 340rpx;
	border-radius: 20rpx;
	margin-top: 10rpx;
	/* margin-left: 2rpx; */
}
.dynamicGridBox{
  width: 90%;
  margin: 20rpx auto;
}
.dynamicTitle{
	width: 90%;
	font-size: 28rpx;
	font-weight: bold;
	padding-left: 42rpx;
	line-height: 58rpx;
}
.littleIconTable{
	margin-left: 125rpx;
	margin-top: 0rpx;
	margin-bottom: 20rpx;
}
.littleIconTable tr td{
	width: 240rpx;
}
.littleIcon{
	width: 40rpx;
	height: 38rpx;
	opacity: 0.4;
	vertical-align: middle;
}
.littleIcon2{
	width: 30rpx;
	height: 30rpx;
	opacity: 0.3;
	vertical-align: middle;
}
.number{
	font-size: 10pt;
	color: #ACACAC;
	padding-left: 6rpx;
}
.number1{
	font-size: 10pt;
	color: #F2A3C3;
	padding-left: 6rpx;
}

@font-face {
  font-family: 'iconfont';
  
  src: url('../../../iconClass/iconfont.eot');
  src: url('../../../iconClass/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../../../iconClass/iconfont.woff2') format('woff2'),
      url('../../../iconClass/iconfont.woff') format('woff'),
      url('../../../iconClass/iconfont.ttf') format('truetype'),
      url('../../../iconClass/iconfont.svg#iconfont') format('svg');
}

.cnt{
	width: 90%;
	margin: 10rpx auto;
}

.title{
	font-size: 25rpx;
	padding-left: 0rpx;
}
.iconfont {
  position: absolute;
  top: 69rpx;
  left: 32rpx;
  opacity: 0.5;
   z-index: 1;
  font-family: "iconfont" !important;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont1 {
/*  opacity: 0.7; */
  position: absolute;
  right: 35rpx;
  font-family: "iconfont" !important;
  font-size: 26rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont2 {
/*  opacity: 0.7; */
  color: #EC808D;
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont3 {

  opacity: 0.8;
  color: #B4B4B4;
  font-family: "iconfont" !important;
  font-size: 35rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.iconfont4 {

  opacity: 0.8;
  color: #F2A3C3;
  font-family: "iconfont" !important;
  font-size: 42rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   vertical-align: middle;
}
.iconfont5 {
	/*  opacity: 0.7; */
	  color: #B4B4B4;
	  font-family: "iconfont" !important;
	  font-size: 40rpx;
	  font-style: normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	 
}
.uni-list::before{
		display: none;
	}
	.uni-list::after{
		display: none;
	}
	
	
	
.recommendBox{
	/* position: fixed;
	bottom: 0; */
	width: 100%;
	height: 60%;
	/* background-color: rgba(250,250,250,0.95); */
	background-color: #FFFFFF;
	opacity: 1;
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
	/* z-index: 100; */
}
.recommendHead{
	font-size: 30rpx;
	text-align: center;
	line-height: 80rpx;
}
.recomendItemBox{
	margin-top: 40rpx;

}
.recomendItemBox image{
	width: 66rpx;
	height: 66rpx;
	margin-left: 40rpx;
	border-radius: 66rpx;
	vertical-align: top;
}
.recomendItemT{
	display: inline-block;
	margin-left: 15rpx;
	width: 75%;
}
.recomendItemT view:first-child{
	font-size: 20rpx;
	color: #ACACAC;
}
.recomendItemT view:nth-child(2){
	font-size: 27rpx;
}
.recomendItemT view:nth-child(3){
	font-size: 16rpx;
	color: #ACACAC;
}
.ll{
	position: absolute;
	top: -50rpx;
	right: 0rpx;
	color: #000000;
	font-size: 25rpx;
}
.ll span{
	opacity: 1;
	font-size: 30rpx;
	margin-right: 5rpx;
}
.workMore{
	position: absolute;
	top: 10rpx;
	right: 0rpx;
	color: #000000;
	font-size: 25rpx;
}




.sexBox{
		background-color: #FBFBFB;
		border-top-left-radius: 15rpx;
		border-top-right-radius: 15rpx;
		overflow: hidden;
	}
	.sexChoose{
		text-align: center;
		font-size: 30rpx;
		padding: 30rpx 0;
		/* border-bottom: 3rpx solid #fbfbfb; */
		background-color: #FFFFFF;
	}
	.sexChoose2{
		
		text-align: center;
		font-size: 30rpx;
		padding: 30rpx 0;
		border-top: 3rpx solid #fbfbfb;
		background-color: #FFFFFF;
	}
	.sexExitChoose{
		background-color: #FFFFFF;
		text-align: center;
		font-size: 30rpx;
		padding: 30rpx 0;
		margin-top: 20rpx;
	}
	
	
	.relayPopBox{
		width: 100%;
		height: 380rpx;
		background-color: #FFFFFF;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
	}
	.relayPopBoxTitle{
		text-align: center;
		font-size: 25rpx;
		line-height: 60rpx;
	}
	.relayPopBoxButtonBox{
		margin-top: 40rpx;
		overflow: hidden;
	}
	.relayPopBoxButton{
		float: left;
		margin-left: 80rpx;
		text-align: center;
	}
	.relayPopBoxButton span{
		font-size: 90rpx;
	}
	.relayPopBoxButton:nth-child(1) span{
		color: rgb(70, 187, 54);
	}
	.relayPopBoxButton:nth-child(2) span{
		color: #07c160;
	}
	.relayPopBoxButton:nth-child(3) span{
		color: #ea5d5c;
	}
	.relayPopBoxButton:nth-child(4) span{
		color: #23a0f0;
	}
	.relayText{
		font-size: 23rpx;
		line-height: 46rpx;
	}
	
	.relayPopBoxExit{
		text-align: center;
		line-height: 100rpx;
		border-top: 2rpx solid #f7f7f7;
		
		margin-top: 40rpx;
	}
	
	/* 收藏夹 */
	.collectListBox{
		width: 100%;
		overflow: hidden;
		margin-left: 20rpx;
	}
	.addPic{
		float: left;
		width: 321rpx;
		height: 321rpx;
		border-radius: 18rpx;
		margin-left: 20rpx;
		margin-top: 20rpx;
		box-shadow:4px 4px 10px 10px rgba(221, 221, 221, 0.1);
	}
	.collectBox{
		float: left;
		width: 321rpx;
		height: 321rpx;
		
		border-radius: 18rpx;
		background-color: #FFFFFF;
		margin-left: 20rpx;
		margin-top: 20rpx;
		box-shadow:4px 4px 10px 10px rgba(221, 221, 221, 0.1);
	}
	.collectBoxImage{
		width: 250rpx;
		height: 230rpx;
		margin-left: 35rpx;
		margin-top: 35rpx;
	}
	.textBox{
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 56rpx;
	}
	.collectTitle{
		position: absolute;
		top: 0;
		left: 35rpx;
		font-size: 28rpx;
	}
	.collectNumber{
		position: absolute;
		top: 5rpx;
		right: 35rpx;
		font-size: 20rpx;
	}