.headBox{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 145rpx;

}
/* 头像 */
.headBox image{  
	position: absolute;
	top: 30rpx;
	left: 30rpx;
	width: 90rpx;
	height: 90rpx;
	border-radius: 90rpx;
}
.headBoxText{
	position: absolute;
	top: 40rpx;
	left: 140rpx;
}
.headBoxText view:first-child{
	font-size: 30rpx;
}
.headBoxText view:last-child{
	font-size: 10rpx;
	color: #ACACAC;
	line-height: 40rpx;
}
/* 正文 */
.TextBox{
	width: 89%;
	margin: 0 auto;
	line-height: 46rpx;
	padding-bottom: 20rpx;
}
/* 九宫格图片 */
.gridImageBox{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50rpx;
}

.blank{
	width: 100%;
	height: 20rpx;
	background-color: #FBFBFB;
}
ul,li{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.naviBox{
	font-size: 30rpx;
	margin-left: 30rpx;
	margin-top: 25rpx;
	color: #ACACAC;
}
.naviBox text{
	font-size: 25rpx;
}

.commentBox{
	margin-top: 50rpx;
}
.commentItemBox{
	width: 100%;
	background-color: #FFFFFF;
}
.commentAvatar{
	width: 85rpx;
	height: 85rpx;
	border-radius: 85rpx;
	margin-left: 35rpx;
	vertical-align: top;
	
}
.commentTextBox{
	display: inline-block;
	width: 72%;
	margin-left: 20rpx;
	padding-bottom: 30rpx;
}
.commentUsername{
	font-size: 26rpx;
}
.commentText{
	font-size: 30rpx;
}
.commentDate{
	font-size: 15rpx;
	color: #ACACAC;
	line-height: 70rpx;
}
.uni-list::before{
	display: none;
}
.uni-list::after{
	display: none;
}
.likeIcon{
	display: inline-block;
	margin-left: 10rpx;
	margin-top: 23rpx;
	vertical-align: top;
}