.body{
	width: 100%;
	height: 2000rpx;
	background-color: #FBFBFB;
}
.searchBox{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 105rpx;
	background-color: #FFFFFF;
}
.searchIcon{
	position: absolute;
	top: 35rpx;
	left: 40rpx;
	z-index: 1;
	width: 25rpx;
	height: 25rpx;
	padding-left: 20rpx;
}
.searchiInput{
	position: absolute;
    top: 23rpx;
	left: 30rpx;
	display: inline-block;
	width: 680rpx;
	height: 50rpx;
	color: #ACACAC;
	background-color: #F6F6F6;
	border-radius: 80rpx;
}
.searchiInput input{
	padding-left: 90rpx;
	padding-top: 5rpx;
	font-size: 10pt;
	color: #ACACAC;
}

.nothingBox{
	width: 100%;
	text-align: center;
}
.noIcon{
	width: 100%;
	text-align: center;
	padding-top: 150rpx;
	padding-bottom: 30rpx;
}
.noIcon span{
	font-size: 100rpx;
	text-align: center;
}
.nothingBoxFirst{
	font-size: 33rpx;
	color: #ACACAC;
}
.nothingBoxSecond{
	font-size: 30rpx;
	color: #ACACAC;
	line-height: 60rpx;
}
.nothingBoxSecond text{
	color: #f37ba6;
}
.recentBox{
	width: 100%;
	height: 200rpx;
	background-color: #FFFFFF;
	margin-top: 8rpx;
	overflow: hidden;
	white-space: nowrap;
}



.recentBox span{
	display: inline-block;
	margin-left: 45rpx;
	margin-top: 30rpx;
	/* width: 190rpx; */
	overflow: hidden;
	
}
.recentBox span image{
	width: 95rpx;
	height: 95rpx;
	border-radius: 95rpx;
}
.recentBox span view{
	/* width: 190rpx; */
	font-size: 22rpx;
	color: #ACACAC;
	line-height: 50rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}










.recentTable{
	margin-left: 25rpx;
	padding-top: 25rpx;
}
.recentTable tr td{
	width: 130rpx;
}
.recentTable tr td image{
	width: 95rpx;
	height: 95rpx;
	margin-left: 17rpx;
	border-radius: 95rpx;
}
.recentTable tr td view{
	font-size: 9pt;
	text-align: center;
	line-height: 50rpx;
	color: #ACACAC;
}
.dynamicBox{
	margin-top: 4rpx;
}
.dynamicIt{
	width: 100%;
	background-color: #FFFFFF;
	margin: 7rpx auto;
}
.dynamnicHead{
	position: relative;
	top:0;
	left:0;
	width: 100%;
	height: 130rpx;
}
.dynamicAvatar{
	position: absolute;
	top: 25rpx;
	left: 38rpx;
	width: 90rpx;
	height: 90rpx;
	border-radius: 95rpx;
}
.dynamicUserDate{
	position: absolute;
	top:40rpx;
	left:140rpx;
}
.dynamicUsername{
	font-size: 30rpx;
	font-weight: bold;
}
.dynamicDate{
	font-size: 22rpx;
	color: #ACACAC;
	line-height: 35rpx;
}
.dynamicText{
	width: 90%;
	font-size: 30rpx;
	padding-left: 46rpx;
}
.dynamicImage{
	/* width: 670rpx; */
	width: 100%;
	height: 340rpx;
	border-radius: 20rpx;
	margin-top: 10rpx;
	/* margin-left: 2rpx; */
}
.dynamicGridBox{
  width: 90%;
  margin: 20rpx auto;
}
.dynamicTitle{
	width: 100%;
	font-size: 33rpx;
	font-weight: bold;
	padding-left: 15rpx;
	line-height: 40rpx;
}
.littleIconTable{
	margin-left: 125rpx;
	margin-top: 0rpx;
	margin-bottom: 20rpx;
}
.littleIconTable tr td{
	width: 240rpx;
}
.littleIcon{
	width: 40rpx;
	height: 38rpx;
	opacity: 0.4;
	vertical-align: middle;
}
.littleIcon2{
	width: 30rpx;
	height: 30rpx;
	opacity: 0.3;
	vertical-align: middle;
}
.number{
	font-size: 10pt;
	color: #ACACAC;
	padding-left: 6rpx;
}
.number1{
	font-size: 10pt;
	color: #F2A3C3;
	padding-left: 6rpx;
}
.lastBlank{
	width: 100%;
	height: 100rpx;
}
.uni-list::before{
		display: none;
	}
.uni-list::after{
	    display: none;
	}
	
.recommendBox{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60%;
	background-color: rgba(250,250,250,0.95);
	opacity: 1;
	z-index: 1;
}
.recommendHead{
	font-size: 20rpx;
	text-align: center;
	line-height: 80rpx;
}
.recomendItemBox{
	margin-top: 40rpx;

}
.recomendItemBox image{
	width: 66rpx;
	height: 66rpx;
	margin-left: 40rpx;
	border-radius: 66rpx;
	vertical-align: top;
}
.recomendItemT{
	display: inline-block;
	margin-left: 15rpx;
	width: 75%;
}
.recomendItemT view:first-child{
	font-size: 20rpx;
	color: #ACACAC;
}
.recomendItemT view:nth-child(2){
	font-size: 27rpx;
}
.recomendItemT view:nth-child(3){
	font-size: 16rpx;
	color: #ACACAC;
}



@font-face {
  font-family: 'iconfont';
  
  src: url('../../iconClass/iconfont.eot');
  src: url('../../iconClass/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../../iconClass/iconfont.woff2') format('woff2'),
      url('../../iconClass/iconfont.woff') format('woff'),
      url('../../iconClass/iconfont.ttf') format('truetype'),
      url('../../iconClass/iconfont.svg#iconfont') format('svg');
}


.iconfont {

/*  opacity: 0.7; */
  color: #B4B4B4;
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.iconfont1 {
/*  opacity: 0.7; */
  position: absolute;
  right: 35rpx;
  font-family: "iconfont" !important;
  font-size: 26rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont2 {
/*  opacity: 0.7; */
  color: #EC808D;
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont3 {

  opacity: 0.8;
  color: #B4B4B4;
  font-family: "iconfont" !important;
  font-size: 35rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.iconfont4 {

  opacity: 0.8;
  color: #F2A3C3;
  font-family: "iconfont" !important;
  font-size: 42rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   vertical-align: middle;
}

.relayPopBox{
	width: 100%;
	height: 480rpx;
	background-color: #FFFFFF;
	border-top-left-radius: 40rpx;
	border-top-right-radius: 40rpx;
}
.relayPopBoxTitle{
	text-align: center;
	font-size: 25rpx;
	line-height: 60rpx;
}
.relayPopBoxButtonBox{
	margin-top: 40rpx;
	overflow: hidden;
}
.relayPopBoxButton{
	float: left;
	margin-left: 80rpx;
	text-align: center;
}
.relayPopBoxButton span{
	font-size: 90rpx;
}
.relayPopBoxButton:nth-child(1) span{
	color: rgb(70, 187, 54);
}
.relayPopBoxButton:nth-child(2) span{
	color: #07c160;
}
.relayPopBoxButton:nth-child(3) span{
	color: #ea5d5c;
}
.relayPopBoxButton:nth-child(4) span{
	color: #23a0f0;
}
.relayText{
	font-size: 23rpx;
	line-height: 46rpx;
}

.relayPopBoxExit{
	text-align: center;
	line-height: 100rpx;
	border-top: 2rpx solid #f7f7f7;
	
	margin-top: 40rpx;
}