@import url("../../static/css/login.css");
@import url("../DynamicPage/dynamic.css");
@import url("../PopCoser/PopCoser.css");

.navigate-box {
	width: 100%;
	height: 70rpx;
}

.row-box {
	width: 100%;
	padding: 0;
}

.tab-box {
	/* #ifndef APP-PLUS */
	white-space: nowrap;
	/* #endif */
}

.user-box {
	width: 100%;
}

.search-text {
	font-size: 16px;
	font-family: 'Courier New';
}

.uni-tab-item {
	/* #ifndef APP-PLUS */
	display: inline-block;
	/* #endif */
	flex-wrap: nowrap;
	padding-left: 34rpx;
	padding-right: 34rpx;
}

.uni-tab-item-title {
	color: #555;
	font-size: 30rpx;
	height: 80rpx;
	line-height: 80rpx;
	flex-wrap: nowrap;
	/* #ifndef APP-PLUS */
	white-space: nowrap;
	/* #endif */
}

.uni-tab-item-title-active {
	color: #FF6EA2;
	font-size: 40rpx;
}

.user-item-box {
	float: left;
	width: 120rpx;
	margin: 6rpx;
}

.user-item-image {
	background-color: #007AFF;
	width: 120rpx;
	height: 120rpx;
	border-radius: 60rpx;
}

.user-item-name {
	width: 120rpx;
	text-align: center;
}

.Hotcontent-list-box {
	box-shadow: 0 0 4rpx 4rpx rgb(215, 215, 215);
	border-radius: 30rpx 30rpx 0 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50rpx;
	box-sizing: border-box;
}
.Img-In-List {
	width: 260rpx;
	height: 170rpx;
	padding: 10rpx;
}

.ListImg-Style {
	width: 260rpx;
	height: 160rpx;
	border-style: none;
	border-radius: 15rpx;
}

.uni-list::before {
	display: none;
}

.uni-list::after {
	display: none;
}
.List-text {
	font-size: 26rpx;
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
	height: 50%;
}
.slot-footer-box{
	padding: 0 15rpx;
}
.List-article{
	font-size: 24rpx;
	height: 20%;
}
.List-Icon{
	height: 20%;
}
.List-Icon view{
	float: left;
	padding-right: 30rpx;
}
.List-Icon image{
	width: 38rpx;
	height: 38rpx;
}
.relay-box image{
	width: 28rpx;
	height: 28rpx;
	padding: 5rpx;
}