.focusBox{
	background-color: #FFFFFF;
}
.focusItemBox{
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	height: 140rpx;
	background-color: #FFFFFF;
	/* border-bottom: 1rpx solid #e9e9e9; */
}
.focusItemBox image{
	position: absolute;
	top: 25rpx;
	left: 30rpx;
	width: 85rpx;
	height: 85rpx;
	border-radius: 85rpx;
}
.focusText{
	position: absolute;
	top: 30rpx;
	left: 140rpx;
	width: 75%;
	display: inline-block;
}
.focusText view:first-child{
	font-size: 28rpx;
	font-weight: bold;
}
.focusText view:nth-child(2){
	color: #AAAAAA;
	font-size: 23rpx;
	line-height: 40rpx;
}
.focusText view:last-child{
	position: absolute;
	top: 0rpx;
	right: 0rpx;
	width: 80rpx;
	height: 50rpx;
	background-color: #FFFFFF;
	/* border: 1rpx solid #F2A3C3; */
	border-radius: 15rpx;
}
.focusText view:last-child text{
	color: #F2A3C3;
	font-size: 25rpx;
}
.uni-list::before{
		display: none;
	}
.uni-list::after{
	    display: none;
	}
.uni-list-item__container{
	background-color: #FFFFFF;
}