.Appoint-Reco-wrapper{
    display: flex;
    flex-direction: column;
}
.AppReco-Top-Bar{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.AppReco-Top-Bar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30rpx;
    color: #F0CFED;
}
.AppReco-Top-Bar-left-img{
    width: 50rpx;
    height: 50rpx;
    margin-right: 5rpx;
}
.AppReco-Top-Bar-right{
    font-size: 20rpx;
    border-style: solid;
    border-width: 2rpx;
    border-radius: 10rpx;
    padding: 4rpx 6rpx 4rpx 6rpx;
    color: rgba(255, 110, 162, 0.68);
}

.AppReco-Hot-list{
    width: 85%;
    height: 245rpx;
    border-style: none;
    border-radius: 40rpx;
    box-shadow: 0 0 4rpx 4rpx rgba(121, 121, 121, 0.1);
    margin-top: 30rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
}
.AppReco-Hot-pg-list{
    display: flex;
    flex-direction: column;

}
.AppReco-Hot-pg-list-avatar{
    width: 110rpx;
    height: 110rpx;
    border-style: none;
    border-radius: 55rpx;
}
.AppReco-Hot-pg-list-name{
    font-size: 25rpx;
    color: #797979;
    text-align: center;
    margin-top: 20rpx;
}
.AppReco-Hot-list-more-icon{
    width: 80rpx;
    height: 80rpx;
    border-style: none;
    border-radius: 40rpx;
    background-color: #F2A3C3;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: auto;
	color: #797979;
}

.AppReco-works-bar{
    display: flex;
    flex: row;
    margin-top: 30rpx;
    width: 85%;
    font-size: 30rpx;
    color: #F0CFED;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30rpx;
}